<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW98VEJP8zclfeCey8rkHe8k1EMqH2kjs"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>The Traveling Salesman</title>
  </head>
  <body>
    <h1>The Traveling Salesman</h1>

    <div id="map-canvas"></div>
    <div id="forms">
      <form action="">
        <input type="text" name="start">
      </form>
      <form action="">
        <input type="text" name="destination">
      </form>
    </div>
  </body>
</html>