<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW98VEJP8zclfeCey8rkHe8k1EMqH2kjs"></script>
    <script type="text/javascript" src="main.js"></script>

    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>The Traveling Salesman</title>
  </head>
  <body>
    <div id="wrapper">
       <h1>The Traveling Salesman</h1>
    <div id="forms">
      <form action="">
        <div id="buttons-wrap">
          <input class="btn btn-modify" id="del-btn" type="button" value="-" >
          <input class="btn btn-modify" id="add-btn" type="button" value="+" >
        </div>
        <div id="input-container">
          <input class="address-input" id="start-pt"type="text" name="start" placeholder="Enter start address...">
          <input class="address-input" id="end-pt"type="text" name="destination" placeholder="Enter destination address...">
        </div>
        <input class="btn-submit" id="submit-button" type="button" value="submit" >
      </form>
     </div>

      <div id="map-canvas"></div>
    </div>
  </body>
</html>